{% extends 'base.html.twig' %}

{% block title %}Réserver l'annonce:{{ad.title}}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"/>
{% endblock %}

{% block body %}

    <div class="container">
        <h1> Réserver l'annonce: {{ad.title}}</h1>
        <p> Vous êtes sur le point de réserver le bien de <strong>{{ad.author.fullName}}</strong> dites nous tout</p>
        {{form_start(form)}}
        <div class="alert alert-light">
            <h2> Commencez par nous dire quelles sont vos dates</h2>
            <div class="row">
                <div class="col">
                    {{form_row(form.endDate)}}
                </div>
            </div>
        </div>

        <h4> Montant du séjour; <span id="amount">...</span> &euros;</h4>
        <span id="days">0</span> nuits à {{ad.price}} / nuit


        {{form_row(form.comment)}}
        <h2> Do you have any comment</h2>
        <h2> Vous avez terminé!</h2>
        <p> Vacances de rêve?</p>
        <button type="submit" class="btn btn-success"> Je reserve</button>
        {{form_end(form)}}

        
    </div>

{% endblock %}
{#lancement de datepicker#}
{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.az.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#booking_startDate,#booking_endDate').datepicker({
                format:'dd/mm/yyyy',
                datesDisabled:[
                    {% for day in ad.notAvailableDays %}
                        "{{day.format('d/m/Y')}}",
                    {% endfor %}
                ],
                startDate=new Date()


            });
                
        })
    </script>
{% endblock %}


